#eight-profiler {
	font-family: 'Menlo', 'Panic Sans', Monaco, 'Courier New';
	background-color:transparent;
	clear: both;
	border: none;
	text-align: left;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	width:100%;
}

div.eight-profiler-inner {
	background-color: rgba(0,0,0,.8);
	-webkit-border-radius: 10px;
	width: auto;
	margin: 15px 15px;
	padding: 10px 10px;
	position: relative;
}

#eight-profiler pre {
	margin: 0;
	font: inherit;
}

#eight-profiler .kp-meta {
	margin: 0 0 10px;
	padding: 4px;
	background-color: rgba(0,0,0,.5);
	color: #A6B0B8;
	text-align: center;
}

#eight-profiler-toggler {
	z-index: 9999; 
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 5px;
	background: #eee;
	width: 150px;
	text-align: center;
	cursor: pointer;
	background-color: rgba(150,50,50,.8);
	-webkit-border-radius: 10px;
	color:white;
}

div#eight-profiler-tabs a {
	display: block;
	height: 30px;
	line-height: 30px;
	padding: 0 10px;
	float: left;
	margin: 0 5px 0 0;
	font-family: Helvetica, "Lucida Grande", Arial;
	font-size: 14px;
	color: white;
	background-color: rgba(255,255,255,.08);
	-webkit-border-radius: 10px;		
}

div#eight-profiler-tabs a.eight-profiler-tab-active {
	font-weight: bold;
	background-color: rgba(255,255,255,.1);
	-webkit-border-radius: 10px;		
}