#eight-profiler-toggler {
	z-index: 9999999; 
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 5px;
	background: #eee;
	width: 150px;
	text-align: center;
	cursor: pointer;
	background-color: rgba(150,50,50,.8);
	-webkit-border-radius: 10px;
	color:white;
}

#eight-profiler {
	clear: both;
	border: none;
	text-align: left;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 999999;
	width:100%;
	font-size: 9pt;
	background: #eee;
}

div.eight-profiler-inner {
	background: #fff;
	border: 1px solid #ddd;
	font-family: sans-serif;
	color: #111;
	font-size: 14px;
	line-height: 130%;
	width: 900px;
	margin: 20px auto;
}

#eight-profiler pre {
	margin: 0;
	font: inherit;
}

#eight-profiler .ep-meta {
	margin: 0;
	padding: 4px;
	color: transparent;
	text-align: center;
}

div#eight-profiler-tabs {
	margin: 0;
	padding: 10px;
	font-weight: normal;
	background: #ffbcbd;
	color: #000000;
	height: 25px;
}

div#eight-profiler-tabs a {
	display: block;
	padding: 0 10px;
	float: left;
	margin: 0 5px 0 0;
	font-family: Helvetica, "Lucida Grande", Arial;
	font-size: 14px;
	color: #494949;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
}

div#eight-profiler-tabs a.eight-profiler-tab-active {
	background-color: white;
	display: block;
	height: 40px;
	line-height: 40px;
	margin-top: -5px;
}

div#eight-profiler-tables {
	padding: 0 20px;
	position: relative;
}